# Ignore virtual environment
env/
.venv/

# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore DB files (if not using them in Git)
*.sqlite3

# Ignore IDE/editor files
.vscode/
.idea/
*.log

# Django static/media (collected or runtime generated)
staticfiles/
media/

# Environment variables
.env

# System junk
.DS_Store
Thumbs.db
